<!DOCTYPE html>
<html ng-app="conceptExpansionModule">

	<head>
		<title>Watson Concept Expansion PoC</title>
		<script src="angular/angular.min.js"></script>
		<script src="js/conceptExpansion.js"></script>
		
		<style type="text/css">
			.column-left {
				float: left;
				width: 40%;
				margin-left: 10%;
			}
			
			.column-right {
				float: left;
				width: 40%;
				margin-right: 10%;	
			}
			
			body {
				font-family: "Arial";
			}
			
			h1, h2 {
				font-weight: normal;
			}
		
		</style>
	</head>
	
	<body ng-controller="conceptExpansionCtrl">

		<h1 style="text-align: center">Watson Concept Expansion PoC</h1>

		<form novalidate ng-submit="submit()">
			
			<div class="column-left">
			
				<h2>Input</h2>
			
				<textarea style="width: 90%; height: 400px;" ng-model="seeds"></textarea> <br/> <br/>
		   		<input type="submit" id="submit" value="Evaluate Seeds"></input> <br/>
		   		
			</div>
			
			<div class="column-right">
				
				<h2>Output</h2>
			
				<ul>
					<li ng-repeat="concept in concepts">
						{{ concept.name }} : {{ concept.prevalence * 100 | number:0 }} %
					</li>
				</ul>
			</div>

		</form>
	</body>
</html>