<!DOCTYPE html>
<html ng-app="conceptExpansionModule">

	<head>
		<title>Watson Concept Expansion PoC</title>
		<script src="angular/angular.min.js"></script>
		<script src="js/conceptExpansion.js"></script>
		<link rel="stylesheet" href="css/conceptExpansion.css" />
	</head>
	
	<body ng-controller="conceptExpansionCtrl">

		<h1 class="title">Watson Concept Expansion PoC</h1>

		<h2 style="color: blue; margin-left: 10%;">Overview</h2>
		
		<p class="app-description">
			This application relies on IBM Watson Concept Expansion service. The purpose of this service is to determine the conceptual
			context of a given set of seed words or phrases and provides additional words or phrases that expand on the concept.
		</p>
		
		<p class="app-description">			
			For further information please check the
			official documentation <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/concept-expansion/overview.shtml">here</a>.
		</p>

		<form name="conceptExpansionForm" novalidate ng-submit="submit()">
		
			<div style="width: 100%; height: 580px;" >
			
				<div class="input-column">
				
					<h2>Input</h2>
					
					<p style="width: 90%">
						Inform a list of initial seeds. One concept per line. Each concept can have up to three words.
					</p>
				
					<textarea name="seeds" class="seeds-area" ng-model="seeds" required></textarea>
					
			   		<input type="submit" id="submit" value="Evaluate Seeds" ng-disabled="conceptExpansionForm.$invalid"></input>
			   		
				</div>
				
				<div class="output-column">
					
					<h2>Output</h2>
					
					<p style="width: 90%">
						Here you will find a list of concepts related to the informed seeds. 
						The figures on the right represent the prevalence of the concept.
					</p>
				
					<p class="message" ng-show="loading">
						Please wait while your the request is being processed...
					</p>
	
					<p class="message" ng-show="!loading && concepts.length == 0 && conceptExpansionForm.$submitted">
						Your query returned no results.
					</p>
				
					<ol ng-show="concepts.length > 0" ng-hide="loading">
						<li ng-repeat="concept in concepts">
							{{ concept.name }}
							<span title="Prevalence" style="color: {{ concept.prevalence >= 0.8 ? 'green' : 'red'}}">
								({{ concept.prevalence * 100 | number:0 }}%)
							</span>
						</li>					
					</ol>
				
				</div>
				
			</div>

			<h2 style="margin-left: 10%">Latest seeds:</h2>

			<ol style="margin-left: 9%">
				<li ng-repeat="job in jobs | limitTo:10" style="margin-bottom: 15px;">
					<span ng-repeat="seed in job.seeds" style="border: 1px solid grey; padding: 5px; margin: 3px;">
						{{seed}}
					</span>
				</li>					
			</ol>

		</form>
		
	</body>
</html>